<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理</title>
</head>
<body>
<form th:action="@{/user/}" action="" method="post">
    <input type="text" name="name">
    <input type="text" name="age" value="年龄">
    <input type="submit" value="添加">
</form>
<form th:action="@{/user/}" method="post">
    <input name="_method" value="put" hidden="hidden">
    <input type="text" name="name">
    <input type="submit" value="修改">
</form>
<form th:action="@{/user/3}" method="post">
    <input name="_method" value="delete" hidden="hidden">
    <input type="submit" value="删除">
</form>
<a href="/user/4">查询</a>
</body>
</html>